.head {
    background: white;
    width: 100%;
    height: 7vh;
    margin: 0;
    box-shadow: 2px 2px 2px 2px ghostwhite
}
.postion {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding:  10px 20px
}

